certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
Django
gunicorn==20.1.0
idna==3.2
pycryptodome==3.10.1
python-dotenv==0.19.0
pytz==2021.1
requests==2.26.0
sqlparse
urllib3==1.26.6
whitenoise==5.3.0
